body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #cab6cd;
    margin: 0;
}

.calculator-container {
    display: flex;
    gap: 30px;
    transform: scale(1.5);
    transform-origin: center center;
}

.calculator-base {
    background-color: #26547c;
    border-radius: 18px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 375px;
}

#display {
    background-color: #17BEBB;
    color: #26547c;
    text-align: right;
    padding: 30px;
    font-size: 3.75em;
    overflow: hidden;
    direction: rtl;
    border-bottom: 2px solid #17BEBB;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-advanced {
    background-color: #26547c;
    border-radius: 18px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.advanced-functions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    gap: 7.5px;
}

button {
    background-color: #17BEBB;
    color: #26547c;
    border: none;
    padding: 22.5px;
    font-size: 1.95em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* border-radius: 9px; Removed this line */
}

button:hover {
    background-color: #f0544f;
    color: #cab6cd;
}

.operator {
    background-color: #D81e5b;
    color: #cab6cd;
}

.operator:hover {
    background-color: #f0544f;
    color: #cab6cd;
}

.function {
    background-color: #17BEBB;
    color: #26547c;
}

.function:hover {
    background-color: #f0544f;
    color: #cab6cd;
}

.constant {
    background-color: #17BEBB;
    color: #26547c;
}

.constant:hover {
    background-color: #f0544f;
    color: #cab6cd;
}

.clear, .negate, .percent, .backspace {
    background-color: #f0544f;
    color: #cab6cd;
}

.clear:hover, .negate:hover, .percent:hover, .backspace:hover {
    background-color: #D81e5b;
    color: #cab6cd;
}

.equals {
    grid-column: span 1;
    background-color: #17BEBB;
    color: #26547c;
}

.equals:hover {
    background-color: #f0544f;
    color: #cab6cd;
}